apiVersion: batch/v1
kind: Job
metadata:
  name: prisma-migrate
spec:
  ttlSecondsAfterFinished: 60
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: jkl315/trader:prod
          command: ["npx", "prisma", "migrate", "deploy"]
          envFrom:
            - secretRef:
                name: sql-related
